
<table>
    <tr>
        <td class="libreRowTitle">Estudiantes Libres</td>
        <td class="libreRow">@libreStudentList</td>
    </tr>
</table>


<table>
    <tr>
        <td class="infoRow">Estado: (A) Atraso académico - (R) Recursante</td>
        <td class="infoRow">Importante : se debe ingresar P (presente), A (ausente) o AJ (ausente justificado, con presentación del certificado correspondiente</td>
        <td class="infoRow">Tener en cuenta que la asistencia se debe consignar por HORA</td>
    </tr>
</table>
<p style="float: right;">__________________________</p>
<p style="float: right;">Firma y aclaración docente</p>

