<table>
    <tr>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateTitle" style="font-size:8px">FECHA</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td class="date">&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td style="border: none;">
            <table>
                <tr>
                    <td class="assistanceTitleColumn">% ASISTENCIA</td>
                </tr>
            </table>
        </td>
    </tr>

    <tr>
        <td class="orderRow">-------</td>
        <td class="studentNameTitle">APELLIDO Y NOMBRE</td>
        <td class="dateTitle" style="font-size:8px">ESTADO</td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td class="dateModuleGrayed"></td>
        <td style="border: none;">
            <table>
                <tr>
                    <td class="assistanceColumn">1.Cuat</td>
                    <td class="assistanceColumn">2.Cuat</td>
                    <td class="assistanceColumn">Total</td>
                </tr>
            </table>
        </td>
    </tr>
    @enrolledStudentList
</table>
